.categories {
  padding: 30px 0 0;

  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: $accent-2;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include mq("tablet") {
      font-size: 28px;
    }

    @include mq("phone") {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    color: $accent;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include mq("tablet") {
      font-size: 38px;
    }

    @include mq("phone") {
      font-size: 31px;
    }
  }

  .product-card {

    &__text {
      @include line-clamp(3);
    }
  }

  .product-tabs {
    padding-top: 30px;

    @include mq("phone") {
      padding-top: 0;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      margin: 0 auto 40px;
    }

    &__list {
      display: flex;
      margin-bottom: 80px;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      color: $color-title;
      text-transform: uppercase;
      flex-basis: 100%;

      &::-webkit-scrollbar {
        height: 5px;
        width: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $accent;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: #FFFFFF;
        border-radius: 4px;
      }

      @include mq('tablet-2') {
        overflow-y: scroll;
        justify-content: flex-start;
        padding-bottom: 10px;
      }

      @include mq('phone') {
        font-size: 12px;
      }
    }

    &__part {

      &:not(:last-child) {
        margin-right: 5px;
      }
    }


    &__label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      max-width: 142px;
      width: 100%;
      height: 130px;
      padding: 12px;
      border-radius: 20px;
      transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, fill 0.5s ease-in-out;

      &:hover {
        background-color: #FFFFFF;
        box-shadow: 0px 14px 23px rgba(55, 54, 55, 0.08);

        .product-tabs__link::after {
          transform: translate(5px, -50%);
        }

        #shine {
          opacity: 1;
        }

        #dish,
        #bag,
        #sandwich,
        #cocao-cup,
        #veg-plate,
        #plate {
          animation: dishUp 0.8s ease-in-out both;
        }

        #point1,
        #point6,
        #point7,
        #point5,
        #point2,
        #point3,
        #point4 {
          animation: pointUp 0.8s ease-in-out both;
        }

        #nacho1,
        #nacho2,
        #nacho3,
        #nacho4,
        #nacho5,
        #nacho6,
        #sheet1,
        #sheet2,
        #sheet3,
        #sheet4,
        #sheet5,
        #grape1,
        #grape2,
        #grape3,
        #egg1,
        #egg2,
        #streatch-cheese {
          animation: nachoUp 0.8s ease-in-out both;
        }

        #top-bread {
          animation: rotationBreadUp 0.8s ease-in-out 0.2s both;
          transform-origin: bottom right;
        }

        #tubule {
          animation: tubeRotationRight 0.8s ease-in-out both;
          transform-origin: center bottom;
        }

      }

      &:not(:hover) {
        #shine {
          fill: #DE7B20;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }

        #dish,
        #bag,
        #sandwich,
        #cocao-cup,
        #veg-plate,
        #plate {
          animation: dishDown 0.8s ease-in-out both;
        }

        #point1,
        #point6,
        #point7,
        #point5,
        #point2,
        #point3,
        #point4 {
          animation: pointDown 0.8s ease-in-out both;
        }

        #nacho1,
        #nacho2,
        #nacho3,
        #nacho4,
        #nacho5,
        #nacho6,
        #sheet1,
        #sheet2,
        #sheet3,
        #sheet4,
        #sheet5,
        #grape1,
        #grape2,
        #grape3,
        #egg1,
        #egg2,
        #streatch-cheese {
          animation: nachoDown 0.8s ease-in-out both;
        }

        #top-bread {
          animation: rotationBreadDown 0.8s ease-in-out 0.2s both;
          transform-origin: bottom right;
        }

        #tubule {
          animation: tubeRotationLeft 0.8s ease-in-out both;
          transform-origin: center bottom;
        }
      }
    }

    &__img {
      transition: transform 0.5s ease-in-out;
      width: 100%;
    }

    &__title {
      padding: 16px 0 4px;
    }

    &__box {
      display: flex;
      min-height: 76px;
      align-items: center;
      justify-content: center;
      flex: 1 0 auto;
    }

    &__link {
      width: 44px;
      height: 44px;
      background-color: $accent;
      border-radius: 50%;
      position: relative;

      &::after {
        @include pseudo;
        background-image: url('../images/sprite.svg#chevron-right-icon');
        width: 7px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease-in-out;
      }
    }

    &__items {
      background: transparent;
      width: 100%;
      margin-bottom: 40px;
    }

    &__item {
      display: none;
      animation: fadein 0.8s;
      position: relative;

      @include mq("desktop") {
        max-width: 930px;
        margin: 0 auto;
      }

      @include mq("tablet-2") {
        max-width: 720px;
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &__input {
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      position: absolute;
    }

    .product-tabs__input--featured:checked~.product-tabs__items .product-tabs__item--featured,
    .product-tabs__input--munchies:checked~.product-tabs__items .product-tabs__item--munchies,
    .product-tabs__input--favorites:checked~.product-tabs__items .product-tabs__item--favorites,
    .product-tabs__input--savory:checked~.product-tabs__items .product-tabs__item--savory,
    .product-tabs__input--sweet:checked~.product-tabs__items .product-tabs__item--sweet,
    .product-tabs__input--vegetarian:checked~.product-tabs__items .product-tabs__item--vegetarian {
      display: block;
    }

    .product-tabs__input--featured:checked~.product-tabs__list .product-tabs__label--featured,
    .product-tabs__input--munchies:checked~.product-tabs__list .product-tabs__label--munchies,
    .product-tabs__input--favorites:checked~.product-tabs__list .product-tabs__label--favorites,
    .product-tabs__input--savory:checked~.product-tabs__list .product-tabs__label--savory,
    .product-tabs__input--sweet:checked~.product-tabs__list .product-tabs__label--sweet,
    .product-tabs__input--vegetarian:checked~.product-tabs__list .product-tabs__label--vegetarian {
      background-color: #FFFFFF;
    }

    &__slider {

      @include mq("tablet") {
        overflow: visible;
      }

    }

  }

  .swiper-slide {

    @include mq("tablet") {
      width: auto;
    }
  }

  .swiper-wrapper {

    @include mq("tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq("phone") {
      display: block;
    }

  }

  .swiper-button-prev {
    left: -60px;
    mask-image: url('../images/sprite.svg#chevron-prev-icon');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    display: block;
    width: 16px;
    height: 28px;
    background-color: $accent;

    @include mq("desktop") {
      left: -20px;
    }

    &::after {
      content: '';
    }
  }

  .swiper-button-next {
    right: -60px;
    mask-image: url('../images/sprite.svg#chevron-next-icon');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    display: block;
    width: 16px;
    height: 28px;
    background-color: $accent;

    @include mq("desktop") {
      right: -20px;
    }

    &::after {
      content: '';
    }
  }

  .swiper-button-prev,
  .swiper-button-next {

    @include mq("tablet") {
      display: none;
    }
  }

  .view-more {

    @include mq("tablet") {
      grid-column: 2 span;
      place-self: center;
    }

    @include mq("phone") {
      margin: 0 auto;
    }
  }

  @keyframes dishUp {
    from {
      transform: translateY(0) rotateZ(0) translateX(0);
    }

    to {
      transform: translateY(-13px) rotateZ(5deg) translateX(5px);
    }
  }

  @keyframes dishDown {
    from {
      transform: translateY(-13px) rotateZ(5deg) translateX(5px);
    }

    to {
      transform: translateY(0) rotateZ(0) translateX(0);
    }
  }

  @keyframes pointUp {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-16px);
    }
  }

  @keyframes pointDown {
    from {
      transform: translateY(-16px);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes nachoUp {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-7px);
    }
  }

  @keyframes nachoDown {
    from {
      transform: translateY(-7px);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes rotationBreadUp {
    from {
      transform: rotateZ(0) translateY(0) translateX(0);
    }

    to {
      transform: rotateZ(12deg) translateY(3px) translateX(-5px);
    }
  }

  @keyframes rotationBreadDown {
    from {
      transform: rotateZ(12deg) translateY(3px) translateX(-5px);
    }

    to {
      transform: rotateZ(0) translateY(0) translateX(0);
    }
  }

  @keyframes tubeRotationRight {
    from {
      transform: rotateY(0);
    }

    to {
      transform: rotateY(0.5turn);
    }
  }

  @keyframes tubeRotationLeft {
    from {
      transform: rotateY(0.5turn);
    }

    to {
      transform: rotateY(0);
    }
  }

}