.menu-header {
  padding-bottom: 60px;
  background: linear-gradient(180deg, #CE3439 0%, #B52E32 100%);
  position: relative;

  @include mq("tablet") {
    padding-bottom: 30px;
  }

  &::after {
    @include pseudo;
    background-image: url("../images/menu-header-bg.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .1;
    background-size: auto;
    background-position: center;
  }

  &__inner {
    font-family: "Inter", sans-serif;
    padding: 160px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    line-height: 1.1;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 30px;

    @include mq("tablet-2") {
      font-size: 28px;
    }

    @include mq("ttablet") {
      font-size: 25px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 64px;

    @include mq("tablet-2") {
      font-size: 52px;
    }

    @include mq("tablet") {
      font-size: 39px;
    }
  }
}