.responsibility {
  background: linear-gradient(180deg, #34A593 0%, #0A857B 76.39%);
  padding: 160px 0 100px;
  text-align: center;

  @include mq("tablet") {
    padding: 130px 0 80px;
  }

  @include mq("tablet") {
    padding: 100px 0 50px;
  }

  &__inner {
    position: relative;
  }

  &__subtitle {
    display: block;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;

    @include mq("tablet") {
      font-size: 25px;
    }
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include mq("tablet") {
      font-size: 31px;
    }
  }

  &__text {
    font-weight: 700;
    max-width: 850px;
    margin: 0 auto 25px;
    font-size: 19px;
    line-height: 1.2;

    @include mq("tablet") {
      font-size: 16px;
    }

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 19px 65px;
    border: 2px solid #fff;
    border-radius: 40px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $accent;
    }
  }

  &__slider {
    padding-bottom: 150px;
    margin: 60px 0;

    @include mq("tablet") {
      padding-bottom: 80px;
      margin-bottom: 40px;
    }
  }

  .fifty-fifty {
    text-align: left;

    &__link {
      align-self: flex-start;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
    width: 40px;
    height: 70px;
    cursor: pointer;

    @include mq("desktop") {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    background-image: url('../images/sprite.svg#arrow-prev-icon');
    left: -60px;
  }

  .swiper-button-next {
    background-image: url('../images/sprite.svg#arrow-next-icon');
    right: -60px;
  }

  .swiper-pagination {
    bottom: 0;
    text-align: center;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 4px;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      width: 32px;
    }
  }

}