.reservation {
  padding: 50px 0;

  .fifty-fifty__content {
    padding: 80px 20px 80px 105px;

    @include mq("tablet") {
      background-color: transparent;
      padding: 0;
      margin-top: 50px;
    }

    @include mq("phone") {
      margin-top: 30px;
    }
  }

  .fifty-fifty__link {
    padding: 19px 75px;
  }

}