<section class="career">

  <div class="career__inner">
    
    <div class="career__img"></div>
    <div class="career__img-mobile"></div>
    <div class="career__content">
      <div class="container">

        <span class="career__subtitle">Приєднуйтесь до нашої команди</span>

        <h2 class="career__title">
          Кар'єра в Bistro
        </h2>

        <div class="career__text">
          <p>Насолоджуйтесь гнучким графіком і конкурентоспроможною оплатою праці. Крім того, ви отримаєте навички,
            необхідні для довгострокового розвитку. Побачте своє майбутнє в Bistro.</p>
        </div>

        <a class="career__link order-btn" href="#">Відгукнутися</a>

      </div>
    </div>

  </div>

</section>