<section class="catalog">
  <div class="container">
    <div class="catalog__inner">

      <aside class="category-filter">
        <div class="category-filter__header">
          <p class="category-filter__text">Готові замовити?</p>
          <button class="category-filter__btn order-btn">Замовити</button>
        </div>

        <nav class="category-menu">
          <button class="category-menu__btn" role="button" data-value=""><span>Всі категорії</span></button>
          <ul class="category-menu__list">

            <li class="category-menu__item" data-value="1">
              <a class="category-menu__link" href="/burgers.html">Улюблені</a>
            </li>
            <li class="category-menu__item" data-value="2">
              <a class="category-menu__link category-menu__link--active" href="/menu.html">Всі категорії</a>
            </li>
            <li class="category-menu__item" data-value="3">
              <a class="category-menu__link" href="/burgers.html">Напої</a>
            </li>
            <li class="category-menu__item" data-value="4">
              <a class="category-menu__link" href="/burgers.html">Бургери</a>
            </li>
            <li class="category-menu__item" data-value="5">
              <a class="category-menu__link" href="/burgers.html">Сніданки</a>
            </li>
            <li class="category-menu__item" data-value="6">
              <a class="category-menu__link" href="/burgers.html">Обіди</a>
            </li>
            <li class="category-menu__item" data-value="7">
              <a class="category-menu__link" href="/burgers.html">Десерти</a>
            </li>
            <li class="category-menu__item" data-value="8">
              <a class="category-menu__link" href="/burgers.html">Ціна на весь день</a>
            </li>
          </ul>
        </nav>

      </aside>

      <div class="catalog__content">
        <form class="product-search" action="#">
          <input class="product-search__input" type="text" name="product-search" placeholder=" ">
          <label class="product-search__label">Пошук</label>
        </form>

        <ul class="category-tags">

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-all-tag" value="all">
            <label class="category-tags__label" for="category-all-tag">Всі</label>
          </li>

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-savory-tag"
              value="savory">
            <label class="category-tags__label" for="category-savory-tag">Сендвічі</label>
          </li>

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-togo-fave-tag"
              value="togo-fave">
            <label class="category-tags__label" for="category-togo-fave-tag">Обране</label>
          </li>

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-featured-tag"
              value="featured">
            <label class="category-tags__label" for="category-featured-tag">Улюблені</label>
          </li>

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-sweet-tag" value="sweet">
            <label class="category-tags__label" for="category-sweet-tag">Десерт</label>
          </li>

          <li class="category-tags__item">
            <input class="category-tags__input" type="radio" name="category-tags" id="category-vegetarian-tag"
              value="vegetarian">
            <label class="category-tags__label" for="category-vegetarian-tag">Вегетаріанські</label>
          </li>

        </ul>

        <ul class="category-list">

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-1.jpg');"></div>
                <span class="category-card__title">Напої</span>
              </a>
            </article>
          </li>

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-2.jpg');"></div>
                <span class="category-card__title">Бургери</span>
              </a>
            </article>
          </li>

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-3.jpg');"></div>
                <span class="category-card__title">Сніданки</span>
              </a>
            </article>
          </li>

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-4.jpg');"></div>
                <span class="category-card__title">Обіди</span>
              </a>
            </article>
          </li>

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-5.jpg');"></div>
                <span class="category-card__title">Десерти</span>
              </a>
            </article>
          </li>

          <li class="category-list__item">
            <article class="category-card">
              <a class="category-card__link" href="/burgers.html">
                <div class="category-card__img" style="background-image: url('images/category/category-6.jpg');"></div>
                <span class="category-card__title">Ціна на весь день</span>
              </a>
            </article>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</section>