<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__box">
        <a class="footer__logo" href="#">
          <img src="images/footer-logo.svg" alt="">
        </a>
        <ul class="social-list">

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#facebook');">
              <span class="sr-only">facebook сторінка</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#instagram');">
              <span class="sr-only">instagram сторінка</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#twitter');">
              <span class="sr-only">twitter сторінка</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#youtube');">
              <span class="sr-only">youtube канал</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#linkedin');">
              <span class="sr-only">linkedin сторінка</span>
            </a>
          </li>

        </ul>
      </div>

      <nav class="footer__explore explore">
        <h2 class="footer__title">Explore</h2>
        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link" href="#">
              Меню
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Наші заклади
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Нагороди
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Подарункові карти
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              FAQs
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Іновації
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Завантажити
            </a>
          </li>

        </ul>
      </nav>

      <nav class="footer__about about">
        <h2 class="footer__title">About Us</h2>
        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link" href="#">
              Компанія
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Кар'єра
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Новини
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Контакти
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Франчайзинг
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Інвестори
            </a>
          </li>

        </ul>
      </nav>

      <nav class="footer__values values">
        <h2 class="footer__title">Values</h2>
        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link" href="#">
              Соціальний вплив
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Відмінність
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Сім'я та громада
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Їжа
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Наші люди
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Навколишнє середовище
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</footer>