<section class="hero">
  <div class="swiper hero__swiper">

    <div class="swiper-wrapper hero__wrapper">

      <div class="swiper-slide hero__item">

        <div class="hero__image">
          <picture>
            <source type="image/webp" srcset="images/hero-bg2.webp">
            <img class="hero__img" src="images/hero-bg2.jpg" alt="фіолетовий фон">
          </picture>
        </div>

        <div class="hero__content">
          <div class="container">
            <div class="hero__inner">

              <div class="hero__left">
                <span class="hero__subtitle">Тут спекотно?</span>
                <h1 class="hero__title">Чи це просто новий Гострий сендвіч?</h1>
                <div class="hero__text">
                  <p>
                    НОВИЙ Гострий сендвіч доступний цілий день. З шинкою, чорізо, омлетом, швейцарським і американським
                    сиром, а також маринованими халапеньйо на смаженому хлібі — це все, що вам подобається в вечері.
                  </p>
                </div>
                <button class="hero__btn">Замовити</button>
              </div>

              <div class="hero__right">
                <picture>
                  <source type="image/webp" srcset="images/sandwitch.webp">
                  <img class="hero__left-img" src="images/sandwitch.png" alt="Тарілка з сендвічем">
                </picture>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero__item">

        <div class="hero__image">
          <picture>
            <source type="image/webp" srcset="images/hero-bg1.webp">
            <img class="hero__img" src="images/hero-bg1.jpg" alt="Різдвяний фон">
          </picture>
        </div>

        <div class="hero__content">
          <div class="container">
            <div class="hero__inner">

              <div class="hero__left">
                <span class="hero__subtitle">Немає планів на Різдво?</span>
                <h1 class="hero__title">Завітайте до Нас!</h1>
                <div class="hero__text">
                  <p>
                    Все ще немає планів на Різдво? Вам пощастило, тому що Bistro відкрито! Завітайте до нас, щоб гарно
                    провести час.
                  </p>
                </div>
                <button class="hero__btn">Знайти кафе</button>
              </div>

              <div class="hero__right">
                <picture>
                  <source type="image/webp" srcset="images/pancake.webp">
                  <img class="hero__left-img hero__left-img--bottom" src="images/pancake.png" alt="Млинці">
                </picture>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero__item">

        <div class="hero__image">
          <picture>
            <source type="image/webp" srcset="images/hero-bg3.webp">
            <img class="hero__img" src="images/hero-bg3.jpg" alt="Синій фон на половину градіент красно рожево жовтого кольору">
          </picture>
        </div>

        <div class="hero__content">
          <div class="container">
            <div class="hero__inner">

              <div class="hero__left">
                <span class="hero__subtitle">Шукаєте вигідну пропозицію?</span>
                <h1 class="hero__title">Ми пропонуємо вам Ціну на весь день.</h1>
                <div class="hero__text">
                  <p>
                    До вашої уваги 10 смачних страв за ціною 100грн. в меню Ціна на весь день. Спробуйте сьогодні.
                  </p>
                </div>
                <button class="hero__btn">Замовити</button>
              </div>

              <div class="hero__right">
                <picture>
                  <source type="image/webp" srcset="images/breakfast.webp">
                  <img class="hero__left-img hero__left-img--bottom" src="images/breakfast.png" alt="Тарілка з сніданком">
                </picture>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

    <div class="hero-button-prev"></div>
    <div class="hero-button-next"></div>

  </div>
</section>