<section class="mobile-app">
  <div class="container">
    <div class="fifty-fifty mobile-app__inner">

      <div class="fifty-fifty__content">
        <span class="fifty-fifty__subtitle">Завантажуйте</span>
        <h2 class="fifty-fifty__title">Додаток Bistro</h2>
        <div class="fifty-fifty__text">
          <p>Отримайте приємні пропозиції та чудові бонуси з новим додатком Bistro! Швидше замовлення, відстеження водія-доставника, вбудовані винагороди та можливість легкого збереження в улюблені — усе у вас під рукою.</p>
        </div>
        <ul class="mobile-app__list">

          <li class="mobile-app__item">
            <a class="mobile-app__link mobile-app__link--apple" href="#"><span class="sr-only">App Store</span></a>
          </li>

          <li class="mobile-app__item">
            <a class="mobile-app__link mobile-app__link--google" href="#"><span class="sr-only">Google Play</span></a>
          </li>

        </ul>
      </div>
      
      <picture class="fifty-fifty__picture">
        <source type="image/webp" srcset="images/mobile-app-bg.webp">
        <img class="fifty-fifty__img" src="images/mobile-app-bg.jpg" alt="Людина з мобільним телефоном">
      </picture>
    </div>
    
  </div>
</section>