<section class="responsibility">
  <div class="container">

    <span class="responsibility__subtitle">Наш</span>
    <h2 class="responsibility__title">соціальний вплив</h2>
    <div class="responsibility__text">
      <p>У Bistro ми любимо годувати тіла, розум і душі людей. Це зобов’язання спрямовує наші соціальні ініціативи щодо
        сім’ї та спільноти, нашої їжі, різноманітності, наших людей та навколишнього середовища.</p>
    </div>
    <a class="responsibility__link" href="#">Дізнатися більше</a>

    <div class="responsibility__inner">
      <div class="swiper responsibility__slider">

        <div class="swiper-wrapper responsibility__wrapper">

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture>
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture>
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture>
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture>
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture>
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>

          <div class="swiper-slide responsibility__item">

            <article class="fifty-fifty">

              <picture class="fifty-fifty__picture">
                <source type="image/webp" srcset="images/resp-bg.webp">
                <img class="fifty-fifty__img" src="images/resp-bg.jpg" alt="Компанія весело їсть піццу">
              </picture>

              <div class="fifty-fifty__content">
                <span class="fifty-fifty__subtitle">Прагнення до</span>
                <h2 class="fifty-fifty__title">Розмаїття</h2>
                <div class="fifty-fifty__text">
                  <p>Підтримуючи культуру відкритості, справедливості та залученості, Bistro пишається тим, що робить
                    різноманітність головним пріоритетом, включаючи інвестиції в членів команди та партнерів із різних
                    верств населення.</p>
                </div>
                <a class="fifty-fifty__link" href="#">Дізнатися більше</a>
              </div>

            </article>

          </div>
        </div>

        <div class="swiper-pagination"></div>

      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  </div>
</section>