.category-tags {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 2px solid #B4B5B6;
  margin-bottom: 24px;
  flex-basis: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 5px;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 4px;
  }

  @include mq("tablet-2") {
    position: absolute;
    top: 85px;
    width: 100%;
  }

  @include mq("tablet") {
    position: absolute;
    top: 20px;

  }

  &__item {
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.category-tags__label {
      background-color: $accent;
      color: #fff;
    }
  }

  &__label {
    padding: 7px 24px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 12px;
    color: #6F7071;
    white-space: nowrap;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }
}