.products-list {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 16px;

  @include mq("desktop") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq("tablet-2") {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 120px;
  }

  @include mq("phone") {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    padding-top: 26px;

    @include mq("desktop") {
      width: 100%;
      max-width: 100%;
    }

    &__title {
      color: $accent;
    }

    &__text {

      @include mq("tablet") {
        display: none;
      }
    }
  }
}