.product-search {

  position: relative;
  margin-bottom: 25px;

  @include mq("tablet") {
    display: none;
  }

  &::after {
    @include pseudo;
    mask-image: url('../images/sprite.svg#search-icon');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: $accent;
  }

  &__input {
    width: 100%;
    border: 2px solid #B4B5B6;
    border-radius: 16px;
    font-size: 14px;
    padding: 18px 16px 6px;
    outline: 0;

    &:focus+.product-search__label,
    &:not(:placeholder-shown)+.product-search__label {
      top: 4px;
      font-size: 12px;
    }

  }

  &__label {
    position: absolute;
    white-space: nowrap;
    color: #6F7071;
    transform-origin: left center;
    top: 18px;
    left: 16px;
    pointer-events: none;
    transition: .3s ease-in-out;
  }
}